In [50]:
from selenium import webdriver
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By

# Set up the Selenium WebDriver (make sure to have the appropriate webdriver installed)
driver = webdriver.Edge(executable_path=r"C:\Program Files (x86)\msedgedriver.exe")

# URL of the webpage containing the dropdown menu
url = "https://www.nba.com/stats/teams/traditional?dir=A&sort=W_PCT"
driver.get(url)

In [51]:
# Introduce a wait to allow the page to load
time.sleep(5)

years = driver.find_elements_by_class_name("DropDown_select__4pIg9")[0].text.split('\n')

# Season 2023-24
season_23_24 = years[0]

# Find the table on the page
table = WebDriverWait(driver, 10).until(
EC.presence_of_element_located((By.XPATH, '//*[@id="__next"]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[3]/table'))
)

# Store the table data in a variable for looping
tbody = table.find_element(By.TAG_NAME, 'tbody')
rows = WebDriverWait(driver, 10).until(
    EC.presence_of_all_elements_located((By.TAG_NAME, 'tr'))
)

table_data = []
for row in rows:
    try:
        row_cells = row.find_elements(By.TAG_NAME, 'td')
        # Check if the row contains cells (data) before processing
        if row_cells:
            row_text = [cell.text for cell in row_cells]
            row_text.append(season_23_24)
            table_data.append(row_text) 
            print(f"Adding data for team rank {row_text[0]} {row_text[1]} for the {season_23_24} season")
    except:
        # Handle StaleElementReferenceException by refinding the row
        rows = WebDriverWait(driver, 10).until(
            EC.presence_of_all_elements_located((By.TAG_NAME, 'tr'))
        )
        
# Get table headers
headers = table.find_element_by_xpath('//*[@id="__next"]/div[2]/div[2]/div[3]/section[2]/div/div[2]/div[3]/table/thead').text.split(' ')
headers.append('YEAR')

# Close the browser window
driver.quit()

Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank   for the 2023-24 season
Adding data for team rank 1 Boston Celtics for the 2023-24 season
Adding data for team rank 1 Minnesota Timberwolves for the 2023-24 season
Adding data for team rank 3 Orlando Magic for the 2023-24 season
Adding data for team rank 4 Denver Nuggets for the 2023-24 season
Adding data for team rank 5 Milwaukee Bucks for the 2023-24 season
Adding data for team rank 6 Oklahoma City Thunder for the 2023-24 season
Adding data for team rank 7 New York Knicks for the 2023-24 season
Adding data for team rank 7 Philadelphia 76ers for the 2023-24 season
Adding data for team rank 9 Dallas Mavericks for the 2023-24 season
Adding data for team rank 10 Sacramento Kings for the 2023-24 season
Adding data for team rank 11 Miami Heat for the 2023-24 season
Adding data for team rank 11 Phoenix Suns for the 2023-24 season
Adding data for team rank 13 Los Angeles Lakers for the 2023-24 season
Adding data for team rank 13 New Orleans Pelicans for the 2023-24 season
Adding data for team rank 15 Indiana Pacers for the 2023-24 season
Adding data for team rank 16 Cleveland Cavaliers for the 2023-24 season
Adding data for team rank 17 Atlanta Hawks for the 2023-24 season
Adding data for team rank 17 Brooklyn Nets for the 2023-24 season
Adding data for team rank 17 Houston Rockets for the 2023-24 season
Adding data for team rank 20 LA Clippers for the 2023-24 season
Adding data for team rank 21 Golden State Warriors for the 2023-24 season
Adding data for team rank 21 Toronto Raptors for the 2023-24 season
Adding data for team rank 23 Charlotte Hornets for the 2023-24 season
Adding data for team rank 23 Portland Trail Blazers for the 2023-24 season
Adding data for team rank 25 Utah Jazz for the 2023-24 season
Adding data for team rank 26 Chicago Bulls for the 2023-24 season
Adding data for team rank 27 Memphis Grizzlies for the 2023-24 season
Adding data for team rank 28 San Antonio Spurs for the 2023-24 season
Adding data for team rank 28 Washington Wizards for the 2023-24 season
Adding data for team rank 30 Detroit Pistons for the 2023-24 season

In [52]:
# Filter out table
table_data = table_data[12:]

In [53]:
# Remove empty column
headers.pop(0)

''

In [54]:
import pandas as pd

# Getting the headers from the data array
# It is important to remove them from the data array afterwards in order to be parsed correctly by Pandas
team_stats = pd.DataFrame(table_data, columns=headers)
team_stats.head()

,,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-,YEAR
0,1,Boston Celtics,19,15,4,.789,48.5,116.7,41.8,88.3,...,47.1,24.8,13.9,6.6,5.7,3.9,17.7,18.6,9.4,2023-24
1,1,Minnesota Timberwolves,19,15,4,.789,48.3,112.8,41.0,84.8,...,45.0,25.4,15.1,7.5,6.4,4.9,19.3,20.9,6.9,2023-24
2,3,Orlando Magic,19,14,5,.737,48.0,114.9,41.4,86.5,...,44.2,25.7,15.9,9.1,5.6,5.2,21.6,23.6,6.0,2023-24
3,4,Denver Nuggets,20,14,6,.700,48.0,114.4,44.3,89.4,...,43.8,29.9,12.9,7.0,5.1,4.9,19.2,19.3,4.6,2023-24
4,5,Milwaukee Bucks,19,13,6,.684,48.3,120.5,43.3,88.5,...,43.8,24.6,13.7,7.4,5.4,4.1,19.8,20.6,2.6,2023-24

# Cleaning

In [55]:
# Check data types
team_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0           30 non-null     object
 1   TEAM    30 non-null     object
 2   GP      30 non-null     object
 3   W       30 non-null     object
 4   L       30 non-null     object
 5   WIN%    30 non-null     object
 6   MIN     30 non-null     object
 7   PTS     30 non-null     object
 8   FGM     30 non-null     object
 9   FGA     30 non-null     object
 10  FG%     30 non-null     object
 11  3PM     30 non-null     object
 12  3PA     30 non-null     object
 13  3P%     30 non-null     object
 14  FTM     30 non-null     object
 15  FTA     30 non-null     object
 16  FT%     30 non-null     object
 17  OREB    30 non-null     object
 18  DREB    30 non-null     object
 19  REB     30 non-null     object
 20  AST     30 non-null     object
 21  TOV     30 non-null     object
 22  STL     30 non-null     object
 23  BLK     30 non-null     object
 24  BLKA    30 non-null     object
 25  PF      30 non-null     object
 26  PFD     30 non-null     object
 27  +/-     30 non-null     object
 28  YEAR    30 non-null     object
dtypes: object(29)
memory usage: 6.9+ KB

In [56]:
team_stats.columns

Index(['', 'TEAM', 'GP', 'W', 'L', 'WIN%', 'MIN', 'PTS', 'FGM', 'FGA', 'FG%',
       '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST',
       'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', '+/-', 'YEAR'],
      dtype='object')

In [68]:
# Rename empty column name to 'Rank'
team_stats = team_stats.rename(columns={"": "RANK"})
team_stats.head()

,RANK,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-,YEAR
0,1,Boston Celtics,19,15,4,0.789,48.5,116.7,41.8,88.3,...,47.1,24.8,13.9,6.6,5.7,3.9,17.7,18.6,9.4,2023-24
1,1,Minnesota Timberwolves,19,15,4,0.789,48.3,112.8,41.0,84.8,...,45.0,25.4,15.1,7.5,6.4,4.9,19.3,20.9,6.9,2023-24
2,3,Orlando Magic,19,14,5,0.737,48.0,114.9,41.4,86.5,...,44.2,25.7,15.9,9.1,5.6,5.2,21.6,23.6,6.0,2023-24
3,4,Denver Nuggets,20,14,6,0.700,48.0,114.4,44.3,89.4,...,43.8,29.9,12.9,7.0,5.1,4.9,19.2,19.3,4.6,2023-24
4,5,Milwaukee Bucks,19,13,6,0.684,48.3,120.5,43.3,88.5,...,43.8,24.6,13.7,7.4,5.4,4.1,19.8,20.6,2.6,2023-24

In [65]:
# Convert following columns to floats
string_columns = ['RANK', 'GP', 'W', 'L', 'WIN%', 'MIN', 'PTS', 'FGM', 'FGA', 'FG%',
       '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST',
       'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', '+/-']
team_stats[string_columns] = team_stats[string_columns].apply(pd.to_numeric, errors='coerce')

team_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RANK    30 non-null     int64
 1   TEAM    30 non-null     object
 2   GP      30 non-null     int64
 3   W       30 non-null     int64
 4   L       30 non-null     int64
 5   WIN%    30 non-null     float64
 6   MIN     30 non-null     float64
 7   PTS     30 non-null     float64
 8   FGM     30 non-null     float64
 9   FGA     30 non-null     float64
 10  FG%     30 non-null     float64
 11  3PM     30 non-null     float64
 12  3PA     30 non-null     float64
 13  3P%     30 non-null     float64
 14  FTM     30 non-null     float64
 15  FTA     30 non-null     float64
 16  FT%     30 non-null     float64
 17  OREB    30 non-null     float64
 18  DREB    30 non-null     float64
 19  REB     30 non-null     float64
 20  AST     30 non-null     float64
 21  TOV     30 non-null     float64
 22  STL     30 non-null     float64
 23  BLK     30 non-null     float64
 24  BLKA    30 non-null     float64
 25  PF      30 non-null     float64
 26  PFD     30 non-null     float64
 27  +/-     30 non-null     float64
 28  YEAR    30 non-null     object
dtypes: float64(23), int64(4), object(2)
memory usage: 6.9+ KB

In [64]:
team_stats['TEAM']

0             Boston Celtics
1     Minnesota Timberwolves
2              Orlando Magic
3             Denver Nuggets
4            Milwaukee Bucks
5      Oklahoma City Thunder
6            New York Knicks
7         Philadelphia 76ers
8           Dallas Mavericks
9           Sacramento Kings
10                Miami Heat
11              Phoenix Suns
12        Los Angeles Lakers
13      New Orleans Pelicans
14            Indiana Pacers
15       Cleveland Cavaliers
16             Atlanta Hawks
17             Brooklyn Nets
18           Houston Rockets
19               LA Clippers
20     Golden State Warriors
21           Toronto Raptors
22         Charlotte Hornets
23    Portland Trail Blazers
24                 Utah Jazz
25             Chicago Bulls
26         Memphis Grizzlies
27         San Antonio Spurs
28        Washington Wizards
29           Detroit Pistons
Name: TEAM, dtype: object

In [71]:
# Add short form team name
teams = team_stats['TEAM']

for i in range(len(team_stats)):
    team = teams[i]
    if team == 'Boston Celtics':
        team_stats['ABBREV'] = 'BOS'

BOS

In [63]:
file_path = 'team_stats.csv'
team_stats.to_csv(file_path, index=False)